# Ignore the build and lib dirs
build
# Ignore any executables
*.exe

# Ignore Mac and VS specific files
.DS_Store
.vs
*.user

#Ignore CLion data and CMake-build
.idea
cmake-build-debug
*.sln
*.vcxproj
*.filters
*.user
/Debug
bin
*.dll
debug
